*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
    
}
body{
  padding-left: 27%;
}

.container{
  width:575px;
  height: 100%;
  background-color: grey;
  padding: 50px 130px ;
  border: 2px solid black;
  
}

#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 20px;
}

button{
  height: 35px;
  width: 150px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: larger;
  margin-top: 25px;
  margin-left: 93px;
    

}

#results {
  font-size: 30px;

  margin-top: 25px;
  margin-bottom: 15px;
  color: rgb(241, 241, 241);  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

#message{
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */

  color: rgb(255, 255, 255);
  font-size: 26px;
  margin-left: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1 {
  padding-left: 15px;
  padding-top: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#weight-guide{
  margin-top: 40px;
  margin-left: 50px;
  
}

#weight-guide h3{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 23px;
}

#weight-guide h3, p{
  margin-bottom: 15px;
}
